
/*@media print, screen and (min-width: 40em) {
body {
    background-color: yellow;
}
}

@media print, screen and (min-width: 64em) {
body {
    background-color: orange;
}
}*/

/*GENERAL*/
h5, h6 {
    margin-bottom: 0.5rem;
}

.site-logo img {
    width: 75%;
}

@media print, screen and (min-width: 40em) {
.site-logo img {
    width: 100%;
}
}

.counter {
    font-size: 40px;
}

@media print, screen and (min-width: 40em) {
.counter {
    font-size: 60px;
}
}

.grid-gallery-item__text {
    font-size: 14px;
}

@media print, screen and (min-width: 64em) {
.grid-gallery-item__text {
    font-size: 16px;
}
}

/*PLONE GENERATED CONTENT*/
