
/*@media print, screen and (min-width: 40em) {
body {
    background-color: yellow;
}
}

@media print, screen and (min-width: 64em) {
body {
    background-color: orange;
}
}*/

/*SCROLLING*/
.off-canvas-content {
    -webkit-overflow-scrolling: touch;
}

/*GENERAL*/
h5, h6 {
    margin-bottom: 0.5rem;
}

.site-logo img {
    width: 75%;
}

@media print, screen and (min-width: 40em) {
.site-logo img {
    width: 100%;
}
}

.counter {
    font-size: 40px;
}

@media print, screen and (min-width: 40em) {
.counter {
    font-size: 60px;
}
}

.grid-gallery-item__text {
    font-size: 14px;
}

@media print, screen and (min-width: 64em) {
.grid-gallery-item__text {
    font-size: 16px;
}
}

.center-text .parallax-center {
    width: 80%;
    font-size: 18px
}

@media print, screen and (min-width: 40em) {
.center-text .parallax-center {
    width: 70%;
    font-size: 24px
}
}

@media print, screen and (min-width: 64em) {
.center-text .parallax-center {
    width: 50%;
}
}

.feature-carousel {
    margin-bottom: 30px;
}

/*ALTERNATIVE PARALLAX IMPLEMENTATION*/
/*.skrollr-desktop body {
	height:100% !important;
}

.parallax-image-wrapper {
	position:fixed;
	left:0;
	width:100%;
	overflow:hidden;
}

.parallax-image-wrapper-50 {
	height:50%;
	top:-50%;
}

.parallax-image-wrapper-100 {
	height:100%;
	top:-100%;
}

.parallax-image {
	display:none;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.parallax-image-50 {
	height:200%;
	top:-50%;
}

.parallax-image-100 {
	height:100%;
	top:0;
}

.parallax-image.skrollable-between {
	display:block;
}

.no-skrollr .parallax-image-wrapper {
	display:none !important;
}

#skrollr-body {
	height:100%;
	overflow:visible;
	position:relative;
}

.gap {
	background:transparent center no-repeat;
	background-size:cover;
}

.skrollr .gap {
	background:transparent !important;
}

.gap-50 {
	height:50%;
}

.gap-100 {
	height:100%;
}

.content-full {
	height:100%;
}

#done {
	height:100%;
}*/
/*end ALTERNATIVE PARALLAX IMPLEMENTATION*/


/*PARALLAX PORTLET*/
.parallax {
    background-size: cover;
    height: 300px;
}

@media print, screen and (min-width: 64em) {
.parallax {
    background-size: cover;
    height: 400px;
}
}


/*PLONE GENERATED CONTENT*/
/*PLONE GENERATED CONTENT: General*/
.site-footer #addForm #inputProp0 {
    width: 66.6666%;
    float: left;
}

.site-footer #addForm .btn-primary {
    background-color: #2178b0;
    color: #fefefe;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    border: 1px solid transparent;
    cursor: pointer;
}

.callout {
    clear: both;
    font-family: "Montserrat";
    font-size: 1.4em;
    padding: 0.5em 0.6em;
    border: 1px solid rgba(10, 10, 10, 0.25);
    line-height: 1.4em;
}

.navTreeItem img {
    display: none;
}

.tileItem {
    margin-bottom: 30px;
}

h2.tileHeadline {
    margin-bottom: 0.3em;
}

div[id^="parent-fieldname-text-"] table img {
    max-width: none;
}

input[type="submit"] {
    background-color: #2178b0;
    color: #fefefe;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    border: 1px solid transparent;
    cursor: pointer;
}

input[type="text"] {
    padding: 1.5rem 0.5rem;
}

/*PLONE GENERATED CONTENT: Forms*/
fieldset#search-field {
    border: none!important;
    text-align: center;
}

fieldset {
    margin: 0 2px;
    padding: .35em .625em .75em;
}

input.searchPage[type="text"] {
    font-size: 150% !important;
    width: auto;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 0.5rem;
}

.searchPage h1.documentFirstHeading {
    font-size: 2.5rem;
}

/*PLONE GENERATED CONTENT: Table Classes*/
#content table {
    margin-bottom: 1em;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.listing,
table.plain {
    border-spacing: 0;
    border-collapse: collapse;
}

table.invisible td,
table.invisible th,
table.plain td,
table.plain th,
table.listing td,
table.listing th {
    padding: 0.5em 1em;
    vertical-align: top;
}
table.plain th,
table.plain td {
    border: 1px solid #ddd;
}
table.plain th {
    text-align: left;
}

table.listing td.listingCheckbox,
table.listing th.listingCheckbox {
    text-align: center;
}

table.listing {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.listing .top {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
table.listing th {
    text-align: left;
    color: #666;
    border: 0.1em solid #e7e7e7;
    border-style: solid solid none;
    background: #ddd;
}
table.listing tr.odd th {
    border: 0.1em solid #fff;
    border-style: solid solid none none;
}
table.listing tbody th {
    font-weight: bold;
}
table.listing tbody tr {
    text-align:left;
}
table.listing tbody tr.odd {
    background: #eee;
}
table.listing tbody tr td {
    background: transparent;
}
table.listing tbody tr.odd td {
    background: #eee;
}
table.listing td {
    border-right: 1px solid #ddd;
}
.icons-on #listing-table td {
    line-height: 2em;
}
table.listing a {
    border: none;
    display: inline-block;
    border-bottom: none !important;
}

table.listing td.draggable {
    text-shadow: White 1px 1px 1px;
    background: #ddd !important;
    border-bottom: 1px solid white;
    padding: 0.4em 0.4em 0 0.5em;
}
/* Vertical table data listings */
table.vertical {
}
table.vertical th {
    text-align: right;
}
table.vertical td {
    border-top: 0.1em solid #e7e7e7;
    padding: 0.5em;
}
/* Grid table listings */
table.grid td,
table.grid th {
    border: 1px solid #e7e7e7;
    padding: 0.5em;
}

table tbody tr:nth-child(2n) {
    background-color: #ffffff;
}
