
#pd-portal-globalnav,
#top-banner,
#description-callout,
#drop-sidenav,
#feature-carousel
{
    display: none;
}

img {
    max-width: 100%;
}

.grid-gallery .column {
    width: 31.6667%;
    float: left;
    margin-right: 1%;
}

.grid-gallery .column:last-child {
    margin-right: 0;
}

.panels .parallax {
    margin-bottom: 30px;
}

.panels .parallax div.row {
    float: none;
}

#content ul.menu--pagination {
    list-style: none;
    margin: 0;
}

#content ul.menu--pagination li {
    display: inline-block;
}

.panel > .row {
    border-bottom: 1px solid darkgrey;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.panel-management-wrapper {
    border-bottom: 1px solid darkgrey;
    margin-bottom: 50px;
}
